.form__admin {
  max-width: 385px;
  position: relative;
  top: 80px;
}
.form__item {
  width: 100%;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display: flex;
}

.form__item_el_name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;

  height: 60px;
  width: 100%;

  border: none;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__item {
  height: 60px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.form__item_el_terms {
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
}

.form__handlers {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
