.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;

  /* font-family: "Noto Serif", "Times New Roman", Times, serif; */

  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;

  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__link {
  color: #000000;
  text-decoration: none;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px; /*Creamos un espacio entre los links*/
  padding: 0;

  position: absolute;
  top: 30px;
  right: 80px;
}

/************ Contenido ***************/

/* .header__content {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
} */

.header__title {
  max-width: 709px;

  margin: 0;

  position: absolute;
  top: 183px;
  left: 80px;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block; /*Mantener el texto junto*/

  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0;

  position: absolute;
  top: 355px;
  left: 80px;

  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
}

.header__image {
  max-width: 646px;
  width: 646px;
  height: 568px;

  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__schedule {
  position: absolute;
  left: 80px;
  bottom: 40px;

  color: #6f6f6f;
}

.header__paragraph_address {
  position: absolute;
  right: 80px;
  bottom: 40px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

/************ Recetas ***************/

.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 100px 80px 215px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes__title {
  max-width: 580px;
  margin: 0;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;

  margin-top: 24px;

  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  margin: 80px auto 215px;
  padding: 0;

  gap: 40px;

  /* position: absolute;
  bottom: 215px; */
}

.video-iframe {
  width: 480px;
  height: 273px;
}

.video-caption {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  padding-top: 24px;
}

/************ Reservar ***************/
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 80px 120px;

  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-size: cover;
}

.reservation__form {
}

.reservation__title {
  /* position: relative;
  top: 100px; */
  /* margin: 0; */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__admin {
  max-width: 385px;
  position: relative;
  top: 80px;
}
.form__item {
  width: 100%;
}

.form__fieldset {
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display: flex;
}

.form__item_el_name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;

  height: 60px;
  width: 100%;

  border: none;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__item {
  height: 60px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.form__item_el_terms {
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 8px;
}

.form__handlers {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
